.main-bar {
  width: calc(100% - 300px - 24px);
  float: left;
  margin: 0px auto;
  padding: 0;
  z-index: 1;
}

.main-bar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.main-bar-header h1 {
  font-weight: 400;
}

.main-bar-header .ask-btn {
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #009dff;
  color: white;
  border: none;
  text-decoration: none;
  transition: 0.3s;
}
.question-numbers {
  padding: 0 1rem;
}

.main-bar-header .ask-btn:hover {
  background-color: #0086d8;
}

.display-question-container {
  min-height: 80px;
  display: flex;
  align-items: center;
  /* background-color: #fdf7e2; */
  border-top: solid 1px #edeff0;
  padding: 10px 20px;
}

.display-question-container .display-votes-ans {
  padding: 10px;
}
.display-question-container .display-votes-ans p {
  text-align: center;
  margin: 0;
}

.display-question-details {
  flex-grow: 1;
  width: -webkit-fill-available;
  padding-left: 13px;
}

.question-title-link {
  text-decoration: none;
  color: #037ecb;
  transition: 0.3s;
}

.question-title-link:hover {
  color: #009dff;
}

.display-question-details p {
  padding: 10px 0;
  margin: 0%;
}

.display-tags-time .display-tags {
  display: flex;
  flex-wrap: wrap;
}

.display-tags-time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
}

.display-tags-time .display-tags p {
  margin: 2px;
  padding: 4px;
  font-size: 13px;
  background-color: #edeff0;
  color: #39739d;
}
.display-tags-time .display-time {
  font-size: 13px;
}
/* my css */
.vote-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .main-bar {
    width: 100%;
    float: inline-start;
  }
}

@media screen and (max-width: 650px) {
  .display-question-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .display-question-container .display-votes-ans {
    padding: 5px;
    font-size: 13px;
    display: flex;
    align-items: center;
  }
  .display-question-container .display-votes-ans p {
    margin: 0%;
    text-align: center;
  }
  .display-question-container .display-votes-ans p:first-child {
    margin-right: 5px;
  }
  .vote-container {
    display: flex;
    align-items: center;
  }
  .display-tags-time {
    margin-top: 10px;
  }
  .display-question-details {
    padding: 3px 0 0 3px;
  }
  .main-bar-header {
    padding: 10px;
  }
  .main-bar-header h1 {
    font-size: 1.4rem;
  }
}
