* {
    box-sizing: border-box;
  }
  
  /* Create three columns of equal width */
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 #ef8236
  }
  
  /* Pricing header */
  .price .header {
    background-color: #ef8236;
    color: white;
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button {
      background-image: linear-gradient(rgb(125, 197, 238), rgb(0, 140, 221) 85%, rgb(48, 162, 228));
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    justify-content: center;
   text-decoration: none;
   box-sizing: border-box;
    padding: 0px 12px;
    display:inline-flex;
    position: inherit;
    height: 35px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
    border-radius: 4px;
    width:90px;
}
  
  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }